*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10px;
    
 }

.container  {
    width: 98%;
    height: 100%;
    margin: auto;
    background: #264653;
    text-align: center;
    padding: 80px 30px;
}
.container .heading{
     font-size: 72px;
     color: #e9c46a;
}

div.form{
    padding: 30px 0;

}
div.form form input {
    padding: 10px 24px ;
    width: 80%;
    font-size: 18px;
    
}

div.form form button{
    border: 0;
    outline: none;
    background-color: #2a9d8f;
    padding: 10px 24px;
    color: #fff;
    font-size: 18px;
}

/* link-box */

.link-box {
    display: flex;
    flex-wrap: wrap;
    background: #e9c46a;
    padding: 20px;
    margin: 4px;
}
.link-box .full , .link-box .short{
    width: 35%;
}
.link-box.delete{
    width: 35%;
    margin-left: 5px;
}

.link-box div a{
    color: #264653;
}

.qrcode img {
    width: 70px;
    height: auto;
    margin-right: 15px;
    margin-left: 6px;
}

.clicks{
    height: 20px;
    width: 20px;
    /*background: #2a9d8f;*/
    color: #111111;
    border-radius: 1px;
    margin: 1px 30px;
}

.delete span{
  width: 20px;
  color:  #d11a2a;
  font-size: 24px;
  margin: 0 50px;
}

